<div class="appSweepstake">
  <div class="appSweepstake-container">
    <app-group-names
      *ngIf="appSweepstakePartyData.participants"
      class="appSweepstake-participants appParticipantNames"
      [appGroupNamesParticipants]="appSweepstakePartyData.participants"
      [appGroupNamesNumberParticipants]="appSweepstakePartyData.totalParticipants"
      [appGroupNamesIsComplete]="appSweepstakePartyData.isCompleted"
    ></app-group-names>

    <app-party-selected-info
      *ngIf="appSweepstakePartyData.isCompleted"
      [appPartySelectedIsCompleted]="appSweepstakePartyData.isCompleted"
      class="appSweepstake-partyIsSelected appPartyIsSelected">
    </app-party-selected-info>
  </div>
</div>
