@import '../../../styles';

.appSweepstake {
  &-container {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    align-items: flex-start;
    align-self: stretch;
    padding: 10px 20px
  }

  &-participants,
  &-partyIsSelected,
  &-selectParticpantTeams {
    width: 33%;
    margin: 0 5px;
  }
}
