@import "../../../../styles";

.appPartyIsSelected {
  &-container {
    background-color: $color-white;
    border-radius: 5px;
    padding: 5px 0;
  }

  &-titleContainer {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
    text-transform: uppercase;
    font-weight: $font-weight-black;
    position: relative;
  }

  &-editParty {
    position: absolute;
    right: 20px;
  }

  &-partyInformation {
    display: block;
  }

  &-partyData {
    display: flex;
    border-bottom: 1px solid #CFDBD5;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;

    &:last-child {
      border-bottom: 0;
    }
  }
}
