@import "../../../styles";

.appHeader {
  &-container {
    align-items: flex-start;
    background-color: $color-raisin-black;
    color: $color-white;
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  &-logoContainer {
    color: $color-white;
    font-size: 22px;
    font-weight: $font-weight-black;
    font-style: $font-style-italic;
    padding: 15px 0 15px 10px
  }

  &-logo {
    text-transform: uppercase;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
  }

  &-loginInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    margin: 0 5px 0 0;
  }

  &-findParty {
    display: flex
  }

  &-findPartSearchFieldContainer {
    @include defaultInputConatiner {
      padding: 6px 20px;
    };
  }

  &-findPartySearchField {
    @include defaultInput {
      color: $color-white;
    };

    @include placeholder {
      color: $color-white;
    }
  }

  &-findPartyButton {
    @include defaultInputConatinerIcon {
      padding-left: 10px;
    }
  }

  &-createNewPartyButton {
    margin: 0 10px 0 0;
  }

  &-partyNumber {
    @include defaultButton {
      background-color: $color-jet-black;
      border: $color-jet-black;
      @include setBorderAndBackgroundColor($color-jet-black);
    }
  }
}
