<div class="appHeader-container">
  <div class="appHeader-logoContainer">
    <h1 class="appHeader-logo">{{ appHeaderAppTitle }}</h1>
  </div>

  <div class="appHeader-loginInfo">
    <div class="appHeader-createNewPartyButton" *ngIf="!partyId">
      <app-create-new-party
        (appCreateNewPartyPartyId)="setPartyId($event)">
      </app-create-new-party>
    </div>

    <div class="appHeader-findParty" *ngIf="!partyId">
      <div class="appHeader-findPartSearchFieldContainer">
        <form
          (submit)="findParty($event);">
          <input
            #searchParty
            class="appHeader-findPartySearchField"
            placeholder="Type your party id..."/>
          <button type="button" class="appHeader-findPartyButton" (click)="findParty($event)">
            <fa name="search"></fa>
          </button>
        </form>
      </div>
    </div>

    <div class="appHeader-partyNumber" *ngIf="partyId">
      <span>Party Id: {{ partyId }}</span>
    </div>
  </div>

</div>
