$color-white: #ffffff;
$color-black: #000000;
$color-fifa-blue: #326295;

$color-raisin-black: #242423;
$color-jet-black: #333533;
$color-mustard-yellow: #F5CB5C;
$color-light-grey: #CFDBD5;
$color-platinum-grey: #E8EDDF

