@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900, 900i');

$body-font: 'Lato', sans-serif;
$body-font-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
    // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
    // Windows
  "Segoe UI",
    // Android
  "Roboto",
    // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
    // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-style-italic: italic;
