@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900, 900i');

$body-font: 'Lato', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-style-italic: italic;
