<div class="appGroupName-container">
  <div class="appGroupName-titleContainer">
    <h3 class="appGroupName-title">Participants</h3>

    <span class="appGroupName-numberOfParticpants">{{ appGroupNamesNumberParticipants }} / 32</span>
  </div>
  <ul class="appGroupName-listOfParticipants">
    <li
      *ngFor="let participant of appGroupNamesParticipants"
      class="appGroupName-participant">
      {{participant.name}}
    </li>
  </ul>

  <app-add-new-name
    *ngIf="canAddNewName()"
    class="appGroupName-addName appAddNewName"></app-add-new-name>
</div>

