@import "../../../styles";

.appGroupName {
    &-container {
      background-color: $color-white;
      border-radius: 5px;
      padding: 5px 0;
    }

    &-titleContainer {
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
      align-items: center;
      text-transform: uppercase;
      font-weight: $font-weight-black;
    }

    &-title {
    }

    &-numberOfParticpants {
      font-size: 20px;
      color: $color-dark-grey;
    }

    &-listOfParticipants {
    }

    &-participant {
      border-bottom: 1px solid $color-light-grey;
      padding: 10px 20px;

      &:last-child {
        border-bottom: 0;
      }
    }

    &-addName {
      display: block;
      padding: 10px 20px;
    }
}
